<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">                  <!-- Search Keywords --> 
    <meta name="description" content="Full Node JS Framework">              <!-- Search Description -->
    <meta name="author" content="Abdullah Khdir">                           <!-- Search Author -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Width Adjustments for all screens -->
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/css/main.css"> 