.login-form
    width: 20rem
    max-width: 90%
    margin: auto
    display: block

.security-questions-form
    width: 100%
    max-width: 90%
    margin: auto
    display: block

.select-dropdown
    height: 350px
    width: 100%