.form-control
  margin: 1rem 0

  label, input, textarea
    display: block
    width: 100%
    margin-bottom: 0.25rem

  input, textarea
    border: 1px solid #a1a1a1
    font: inherit
    border-radius: 2px

  input:focus, textarea:focus
    outline-color: #00695c