<%- include('../includes/header.ejs')  %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
        <% if (!is_authenticated) { %>
            <form class="login-form" action="/signup/" method="POST">
                <div class="form-control">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name">
                </div>
                <div class="form-control">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name">
                </div>
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="form-control">
                    <label for="confrim_password">Confirm Password</label>
                    <input type="password" name="confrim_password" id="confrim_password">
                </div>
                <button class="btn" type="submit">Sign up</button>
            </form>
        <% } else { %>
            <h1>User is logged in</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>