body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header__item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.main-header__item {
    margin: 0 1rem;
    padding: 0;
}
.main-header__item, a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #3e00a1;
}
a:active {
    color: #3e00a1 !important;
}
a.active {
    color: #3e00a1 !important;
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px soild #3e00a1;
    color: #3e00a1;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:active,
button:hover {
    background-color: #3e00a1;
    color: white;
}